
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');



:root{
    --parymari: #29c9bc;
    --normal:#ffffff;
    --black:#13131a;
    --bg:#0c1013;
    --banger:#f75842;
    --border: 0.1rem solid rgba(225,225,225,0.3);


    --container-width-lg: 80%;
    --container-width-md: 90%;
    --container-width-sm: 94%;
    
}

*{
    font-family: "Roboto", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-transform: capitalize;
    text-decoration: none;
    list-style: none;
    outline-offset: none;
    transition: all 0.5s linear;
    border: none;
    scroll-behavior: smooth;
}

::-webkit-scrollbar{
    width: 7px;
}
::-webkit-scrollbar-track{
    background: var(--bg);
}

::-webkit-scrollbar-thumb{
    background: var(--black);
}

::-webkit-scrollbar-thumb:hover{
    background-color: var(--banger);
}


body{
    line-height: 1.7rem;
    color: var(--normal);
    background-color: var(--bg);
}

.container{
    width: var(--container-width-lg);
    margin: 0 auto;
}

section{
    padding: 6rem 0;
}

section h2{
    text-align: center;
    margin-bottom: 2rem;
}

h1,h2,h3,h4{
    line-height: 1.2rem;
}

h1{
    font-size: 2.4rem;
}

h2{
    font-size: 2rem;
    
}

h3{
    font-size: 1.6rem;
}

.h4{
    font-size: 1.3rem;
}

a{
    color: var(--normal);
}

img{
    width: 100%;
    display: block;
    object-fit: cover;
}
.btn{
    display: inline-block;
    background-color: var(--parymari);
    color: var(--black);
    padding: 0.5rem 2rem;
    font-weight: 500;
    border: 1px solid transparent;
    border-radius: 0.3rem;
   
}

.btn:hover{
    color: var(--normal);
    background-color: transparent;
    border-color: var(--parymari);
}


.border_bottom{
    text-align: center;
    display: inline-block;
    border-bottom: 2px solid var(--parymari);
    color: var(--parymari);
    padding-bottom: 0.3rem;
}

/* nav start here */


nav{
    background-color: var(--black);
    width: 100vw;
    height: 5rem;
    position: fixed;
    top: 0;
    z-index: 1000;
}

.window-scroll{

    background-color: #0c1013f1 ;
}

.nav-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;

}

.nav-container h4{
    font-size: 1.8rem;
    letter-spacing: 2px;
}


.nav-container span{
    color: var(--parymari);
}

.nav-container h4::first-letter{
    font-size: 2.2rem;
}

.nav-container h4:hover{
    color: var(--parymari);
    transform: rotateX(360deg);
    transition-duration: 1.2s;
}

nav button{
    display: none;
}




.nav-menu{
    display: flex;
    align-items: center;
    gap: 3rem;
}


.nav-menu a{
    font-size: 1rem;
}

.nav-menu a:hover{
    color: var(--parymari);
    border-bottom: 3px solid var(--parymari);
    padding-bottom: 0.8rem;
    background-color: var(--black);
}

/* nav ends here */

/* header section start here */

header{
    position: relative;
    top: 5rem;
    overflow: hidden;
    margin-bottom: 2rem;
    background-color: var(--black);
}

.header-container{
    display: flex;
    align-items: center;
    position: relative;
}

.header-laft{
    flex: 1;
}


.header-right{
    flex: 1;
}
.header-right .text1 {
    font-size: 1.8rem;
    padding-bottom: 1.5rem;
  }

.header-right .text2{
    font-size: 3.5rem;
    font-weight: 550;
}
.header-right .text3 {
    font-size: 2.5rem;
    margin: 2rem 0;
  }

  header::before{
    content: '';
    background-color: #786fa6;
    position: absolute;
    width: 100%;
    height: 5rem;
    bottom: 0;
    margin-bottom: -3.1rem;
    z-index: 99;
    transform: skewY(-2deg);
    transform-origin: left;
  }
  .header-right .typing{
    color: var(--parymari);
  }

/*  header section ends here  */

/* about section start here */
.about{
    text-align: center;
}

.about-container{
    display: flex;
    align-items: center;
    margin: auto;
    justify-content: center;
    margin-bottom: 2.5rem;
    position: relative;
}

.about-container .about-img{
    border: 3px solid var(--parymari);
    border-radius: 50%;
    overflow: hidden;
    max-width: 12.5rem;
    max-height: 12.5rem;
    margin-right: 2rem;
    position: relative;
    margin-bottom: 2rem;
    align-items: center;
}

.about-container .about-text{
    max-width: 70%;
    text-align: justify;
    padding-bottom: 2.5rem;
    line-height: 1.5rem;
    letter-spacing: 0.5px;
}

.about-container .about-text > p{
    margin-bottom: 0.8rem;
}
.about-container .about-text .text{
    margin-bottom: 0.8rem;
}

.about-container .about-text .text span{
    color: var(--parymari);
    font-weight: 600;
}

/* about section start here */

/* service scetion start here */

.services {
    text-align: center;
    margin-top: -5rem;
}


.services > h2{
    margin-bottom: 3rem;
}



.services-container .crads-box{
   display: grid;
   grid-template-columns: repeat(3,1fr);
   justify-content: space-between;
   align-items: center;
   margin-bottom: 3rem;
}

.services-container .crads-box .crads{
    background-color: var(--parymari);
    margin: 0 1.5rem;
    padding: 1.5rem 1rem;
    cursor: pointer;
    position: relative;
}
.services-container .crads-box .crads:hover .icon-box i{
    background-color: var(--bg);
    color: var(--normal);
}


.services-container .crads-box .crads::after{
    content: '';
    height: 100%;
    width: 100%;
    position: absolute;
    background-color: var(--normal);
    top: 0;
    left: 0;
    z-index: -1;
    transition: all 0.5s;
    
}

.services-container .crads-box .crads:hover::after{
    transform: rotate(13deg);
}

.icon-box i{
    font-size: 2rem;
    width: 4rem;
    height: 4rem;
    border: 1px solid rgba(0,0,0,0.5);
    border-radius: 50%;
    color: var(--bg);
    padding: 0.9rem;
    transition: all 1s;
}

.icon-box h3{
    font-size: 1.2rem;
    color: var(--bg);
    padding: 5px;
}
.icon-box p{
    margin: 1.2rem 0;
    align-items: center;
    color: var(--black);

}
.icon-box a{
    background-color: var(--bg);
   padding: 0.4rem 2rem;
   border-radius: 10px;
}

.icon-box a:hover{
    background-color: var(--normal);
    color: var(--bg);
    border: 1px solid var(--bg);
}

/* service scetion start here */


/* =========My Skills  Start======= */
.skill .head{
    text-align: center;
    margin-bottom: 1rem;
}

.skills-container{
    display: flex;
    flex-direction: column;
    margin: auto;
    position: relative;
    background-color: var(--black);
    max-width: 40rem;
    box-shadow: 0.3rem 0.3rem 1.2rem rgba(0,0,0,0.2);
    border-radius: 0.7rem;
}
.skills-container .bar{
    margin: 0.8rem 0;
}

.skills-container .bar:first-child{
    margin-top: 0rem;
}
.skills-container .bar .bar-info{
    margin-bottom: 0.3rem;
}
.skills-container .bar .bar-info span{
    font-size: 1rem;
    font-weight: 500;
    opacity: 1;
    animation: showtext 0.5s 1s linear forwards;
}

@keyframes showtext{
    100%{
        opacity: 1;
    }
}

.skills-container .bar .proglesbar-line{
    height: 10px;
    width: 100%;
    background-color: var(--normal);
    position: relative;
    transform: scaleX(0);
    transform-origin: left;
    border-radius: 0.7rem;
    box-shadow: inset 1px 1px rgba(0,0,0,0.5), 0 1px rgba(255,255,255,0.8);
    animation: anmete 1s cubic-bezier(1,0,0.5,1) forwards;
}

@keyframes anmete{
   100%{
        transform: scaleY(1);
   }
}


.bar .proglesbar-line span{
    height: 100%;
    position: absolute;
    border-radius: 0.7rem;
    transform: scaleX(0);
    transform-origin: left;
    background-color: var(--parymari);
    animation: anmete 1s 3s cubic-bezier(1,0,0.5,1) forwards;
}

.bar .proglesbar-line.html span{
    width: 90%;
}
.bar .proglesbar-line.css span{
    width: 85%;
}

.bar .proglesbar-line.java span{
    width: 80%;
}

.bar .proglesbar-line.bootstrap span{
    width: 75%;
}

.bar .proglesbar-line.jquery span{
    width: 70%;
}

.bar .proglesbar-line.python span{
    width: 60%;
}

.proglesbar-line span::before{
    position: absolute;
    content: '';
    top: -2px;
    right: 0;
    height: 0;
    width: 0;
    border: 0.5rem solid transparent;
    border-bottom-width: 0;
    border-right-width: 0;
    border-top-color: #fa7200;
   
}

.proglesbar-line span::after{
    position: absolute;
    top: -1;
    right: 0;
    font-weight: 500;
    background-color: var(--bg);
    color: var(--normal);
    padding: 1px 0.5rem;
    font-size: 0.7rem;
   
}
.proglesbar-line.html span::after{
    content: '90%';
}

.proglesbar-line.css span::after{
    content: '85%';
}

.proglesbar-line.java span::after{
    content: '80%';
}

.proglesbar-line.bootstrap span::after{
    content: '75%';
}
.proglesbar-line.jquery span::after{
    content: '70%';
}

.proglesbar-line.python span::after{
    content: '60%';
}

/* =========My Skills End======= */

/* ==========my protfolio section start here========= */

.protfolio-container{
    text-align: center;
    margin-top: 5rem;
    
}

.protfolio-container h2{
    margin-bottom: 3rem;
}

.gallery{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 0 auto;
    background-color: var(--black);
    border-radius: 2rem;
}

.gallery a{
    height: 15rem;
    width: 20rem;
    margin: 1.2rem;
    border-radius: 0.3rem;
    overflow: hidden;
    box-shadow: 0 3px 5px var(--parymari);
}

.gallery a img{
    width: 100%;
    height: 100%;
    object-fit: cover;

}

.gallery a img:hover{
    transform: scale(1.3);
}

/* ==========my protfolio section ends here========= */


/* ========my couress scetion strat here======= */

.courses{
    text-align: center;
    margin-top: 5rem;
}
.courses h2{
    margin-bottom: 4rem;
}

.courses-container{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 2rem;
    
}

.course{
    background-color: var(--black);
    border: 1px solid transparent;
    text-align: center;
}

.course:hover{
    background-color: transparent;
    border-color: var(--parymari);
    
}

.course-info{
    padding: 2rem;
}

.course-info h4{
    font-size: 25px;
   line-height: 30px;
}

.course-info p{
    margin: 1.2rem;
    font-size: 0.9rem;
}

/* ========my couress scetion ends here======= */



/* =============footer section start here=========== */

footer{
    margin-top: 2rem;
    padding-top: 5rem;
    background-color: var(--black);
    font-size: 0.9rem;

}
.footer-container{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 5rem;
    cursor: pointer;
}

.footer-container > div h4{
    margin-bottom: 1.2rem;
    font-size: 1.3rem;
    color: var(--parymari);
    
}

.footer1 p{
    margin: 0 0 2rem;
}

footer ul li{
    margin-bottom: 0.7rem;
}

footer ul li a:hover{
    text-decoration: underline;
    color: var(--parymari);
}

.footer-4 p{
    text-transform: lowercase;
}

.footer-scoal{
    display: flex;
    gap: 1rem;
    margin-top: 2rem;
    font-size: 1.2rem;
}

.footer-copyright{
    text-align: center;
    font-size: 1.2rem;
    margin-top: 4rem;
    padding: 1.2rem 0;
    border-top: 1px solid var(--normal);
    cursor: pointer;
}
/* =============footer section ends here=========== */



/* =======*****responsive start here******========= */

/* ====MEDIA QUERIES (TABLETS)=== */

@media screen and (max-width: 1024px) {
    .container {
        width: var(--container-width-md);
    }
    h1{
        font-size: 2.2rem;
        
    }
    h2{
        font-size: 1.7rem;
    }
    h3{
        font-size: 1.4rem;
    }
    h4{
        font-size: 1.2rem;
    }
    .header-right .text1 {
        font-size: 1.2rem;       
      }
    
    .header-right .text2{
        font-size: 2rem;        
    }
    .header-right .text3 {
        font-size: 1.5rem;        
      }

      .header-right .typing{
        font-weight: 450;
      }
      .btn{
        padding: 0.3rem 1.2rem;
      }
      /* ======NAVBER OPEN===== */
      nav button {
        display: inline-block;
        background-color: transparent;
        font-size: 1.8rem;
        color: var(--normal);
        cursor: pointer;
    
      }
      nav button#close-menu-btn{
        display: none;
      }
      .nav-menu{
        position: fixed;
        top: 5rem;
        right: 5%;
        gap: 0;
        height: fit-content;
        width: 18rem;
        flex-direction: column;
        display: none;
      }
      .nav-menu li{
        width: 100%;
        height: 3rem;
      }
      .nav-menu li a{
        background-color: #29c9bcdc;
        width: 100%;
        height: 100%;
        display: grid;
        color: var(--bg);
        place-items: center;
      }

      .services-container .crads-box{
        row-gap: 1rem;
        grid-template-columns: repeat(2,1fr);
       
     }
     
     .services-container .crads-box .crads{
        padding: 2rem 0.3rem;
        margin: 0 0.5rem;
     }
     .services-container .crads-box .crads:hover::after{
        transform: rotate(5deg);
    }

   .gallery a{
    height: 14rem;
    width: 18rem;
   }

   .courses-container{
     grid-template-columns: repeat(2,fr);
   }
   
   .footer-container{
    grid-template-columns: repeat(2,fr);
   }
}

/* ======MEDIA QUERIES (MOBILE)=======  */


@media screen and (max-width: 600px){
   
    .container{
        width: var(--container-width-sm);
    }

    .nav-menu{
        right: 3%;
    }
    .header-right .text1{
        font-size: 1rem;
        margin-bottom: 0rem;
    }

    .header-right a{
        margin-bottom: 0.3rem;
    }

    .header-right .text2{
        font-size: 1.2rem;
        margin-bottom: 0;
    }
    .header-right .text3{
        font-size: 1rem;
        margin-bottom: 0;
    }
   
    .btn{
        padding: 0.3rem 1rem;
    }

    .about-container{
        flex-direction: column;
    }


    .services-container .crads-box{
       display: flex;
       flex-direction: column;
       align-items: center;
       margin-bottom: 3rem;
     }
     
     .services-container .crads-box .crads{
       padding: 3rem 1rem;
       margin: 1rem 1rem;

     }

     .gallery a{
        width: 25rem;
     }

     .courses-container{
        grid-template-columns: 1fr;
        width: 80%;
     }
     .courses-container .course{
        margin-bottom: 1rem;
     }
     .footer-container{
        grid-template-columns: 1fr;
        text-align: center;
        gap: 2rem;
     }

     .footer-scoal{
        justify-content: center;
     }

}










